* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('back.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #333;
    display: flex;
    justify-content: center; /* Центрируем содержимое */
    align-items: center; /* Центрируем по вертикали */
    height: 100vh;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ширина 100% для мобильных */
    max-width: 700px; /* Увеличиваем максимальную ширину для десктопа */
    max-height: 90vh; /* Установка максимальной высоты */
    overflow-y: auto; /* Добавляем прокрутку, если контент превышает высоту */
    animation: fadeIn 0.6s ease-out; /* Плавное появление */
}

.container.submit-animation {
    animation: submitScale 0.2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

h1 {
    text-align: left; 
    margin-bottom: 20px;
    font-size: 24px; /* Размер заголовка для десктопа */
    color: #2a52be;
}

.instruction-list {
    list-style-type: decimal;
    margin-left: 20px;
}

.instruction-list li {
    margin-bottom: 15px;
}

.instruction-list strong {
    color: #2a52be;
}

.instruction-list p {
    margin-top: 5px;
    line-height: 1.5;
}

a {
    color: #2a52be;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Мобильные стили */
@media (max-width: 600px) {
    h1 {
        font-size: 18px; /* Уменьшаем размер заголовка на мобильных */
    }

    .instruction-list p {
        font-size: 14px; /* Уменьшаем размер текста в инструкциях */
    }

    .container {
        padding: 15px; /* Уменьшаем отступы внутри контейнера */
        padding-left: 27px;
        max-width: 320px; /* Максимальная ширина для мобильных */
    }

    .instruction-list {
        margin-left: 10px; /* Уменьшаем отступы для списка */
    }
}

.nav-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ от верхнего края */
    left: 20px; /* Отступ от левого края */
    display: inline-block; /* Позволяет добавить отступы и другие стили */
    color: white; /* Цвет текста для кнопки */
    background-color: rgba(51, 51, 51, 0.8);
    padding: 12px 20px; /* Отступы для кнопки */
    border-radius: 5px; /* Скругленные углы */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 16px; /* Размер шрифта для кнопки */
    transition: background-color 0.3s; /* Плавный переход для изменения фона */
    margin: 10px 0; /* Отступ сверху и снизу */
}

.nav-button:hover {
    background-color: #555; /* Меняем цвет фона кнопки при наведении */
    text-decoration: none; 
}